* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040404;
    font-family: "Gochi Hand", serif;
}

.container {    
    background-color: #17a494;
    width: 90%;
    margin: 50px 0;
}


/* HEADER */
header {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

h1 {
    font-size: 8vw;
    color: white;
}


/* MAIN */

/* REGOLE ==> containers */
#container_main {
    display: flex;
    margin-left: 9vw;
    width:80%;

    /* debug */
    /* height: 850px; */
    /* border: 2px solid blue; */
}

#container_numbers {
    width: 80%;

    /* debug */
    /* height: 100%; */
    /* border: 1px solid orange; */
}

#risultati {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3vw;
    width: 20%;
    
    /* debug */
    /* height: 700px;  */
    /*border: 1px solid white; */ 
}


/* REGOLE ==> container_numbers */

/* contenitore griglia */
.grid-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    perspective: 1000px;
}

/* elementi griglia */
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
    font-size: 1.5vw;
    height: 3em;
    width: 3em;
    background-color: white;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.4), 6px 6px 8px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.text_numbers {
    font-size: 2em;
}



/* REGOLE ==> risultati */

h2 {
    font-size: 1.2vw;  
    margin-top: 40px;
    margin-bottom: 20px;
}

/* casella numero estratto */
#numero_estratto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 4vw;
    height: 1.5em;
    width: 1.5em;
    margin: 20px;
}

#border {
   border: 1px solid white;
   width: 100%;
   margin-bottom: 20px;
}

/* bottoni */

#estrai {
    background-color: #f7a001;
    color: white;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 0 0 0 2px white;
    padding: 10px 15px;
    font-size: 1vw;
    cursor: pointer;
    margin-bottom: 20px;
}

#termina {
    background-color: #874465;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1vw;
    cursor: pointer;
}